#la{
    color: #e5dada;
}

#azucla{
    background-color:#372549;
    color: #e5dada
}
#azulescu{
    color: #33658a;
}
#pre{
    background-color: #02040f;
    color: #e5dada
}
#lar{
    background-color:#002642;
    color: #e5dada
}

 


